<header class="col-12 col-md-12 text-center" name="home">
  <div class="intro-text">
    <%#= image_tag 'concierge-logo.png', class: "logo-cover" %>
    <h1>Welcome to <strong>Concierge</strong></h1>
    <p>Consulting and Accounting, PLLC</p>
  </div>
</header>

<section id="abt">
  <div id="welcome" class="home-section bg-white mt-5 pt-5">
    <div class="container">
      <div>
        <div class="col-md-12 text-center mb-4">
          <div class="section-heading pb-3">
            <h2 class="gold-font font-weight-bold"><%= @introduction.title %></h2>
            <div class="section-line"></div>
            <p class="black-font"><%= @introduction.subtitle %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 about-img">
          <%= image_tag 'one.jpg' %>
        </div>
        <div class="col-12 col-md-6 content">
          <h2>Concierge Consulting and Accounting, PLLC is a premier consulting and accounting firm in Scottsdale, Arizona.</h2>
          <p style="color: #777;"><%= @introduction.description.gsub("\r\n", "</br>").html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===================== Our Mission do ========================== -->

<section class="row p-0 pb-5 pt-5" >
  <div class="col-12 col-md-12 bg-quote font-style-quote">
    <div class="col-12 col-md-10 col-lg-10 mt-4 mb-4 mx-auto text-center">
      <h2><b>Our Mission</b></h2>
      <div class="quote-line"></div>
      <p>We have a mission to change the way our customers think about accounting.  We are not just number crunchers that you deal with once a year.  We are trusted advisors that are Committed to our clients, highly confident and are accountable to you and your needs.  </p>
    </div>
  </div>
</section>

<!-- ===================== Our Mission end ========================== -->


<!-- ===================== About do ========================== -->

<section id="about-me">
  <div class="col-12 col-md-12 mt-5 pt-5">
    <div id="about" class="paddsection col-12 col-md-12 col-lg-12 p-0">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <%= image_tag 'TheresaCD.jpg', class: "img-responsive", alt: "me" %> 
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 mb-4 mt-4">
            <div class="about-descr">
              <h1 class="gold-font">Our Founder</h1>
              <h2 class="gold-font font-weight-bold">Theresa Elaine Valade</h2>
              <p class="gold-font">CPA, founder and entrepreneur</p>
              <p class="p-heading black-font">Theresa founded Concierge Consulting and Accounting, PLLC in 2018 under the vision that she wanted to do accounting different.</p>
              <p class="separator black-font">She wanted a highly personal and passionate approach to accounting and consulting.  She wanted to offer her clients more than just a once a year relationship.  She wanted to be a trusted advisor that was at her “clients beck and call,” and with that vision Concierge Consulting and Accounting, PLLC was born.</p>
            </div>
          </div>
          <div class="col-12 col-md-12 mb-3">
            <p class="separator black-font">Theresa has a passion for assisting her clients in all aspects of their businesses.  She is an advocate of long-lasting business relationships versus once a year engagement.  She takes a very personal approach to all her clients and focuses on the following core principles: people, products and services, processes, policies, and procedures.  She dissects all aspects of her client’s business to get them to operate at their maximum potential for success and longevity.</p>
            <p class="separator black-font">She is a trusted advisor for her clients in income taxes and believes in income tax education, planning and accurate return preparation and presentation. She is skilled in tax planning and income tax strategies.  She has hundreds of small and medium sized companies and individual clients that she assists with income tax preparation, planning, business consulting and bookkeeping services. </p>
            <p class="separator black-font">One of her favorite parts of her job is representing clients in income tax audits.  From assisting clients with IRS notices to working as the power of attorney on behalf of the taxpayer on audits lasting months or more, Theresa is happy to work with, educate and comfort the client throughout these processes.  She uses these experiences as a training tool for her clients while she gains valuable insight into the operations, insight and thinking of the IRS.</p>
            <p class="separator black-font">Theresa has a passion for public speaking and has been a guest speaker at numerous professional and national organizations. Most recently she was featured on Dash Radio in Los Angeles, California, and was a guest on the eliances Heroes of Business Radio Show.  Her speaking engagements have covered a wide array of items including: the importance of internal controls, fraud prevention, nonprofit regulations, tax regulations and tax planning, tax reform, the ABC’s of understanding the financial statements, and many more items.</p>
            <p class="separator black-font">Theresa has over 25 years of experience in tax, audit and consulting.  She most recently was a partner with Moffitt & Company, P.C.  Her areas of specialization were nonprofits, real estate, hospitality, franchises, mortgage banking and brokering, title insurance, escrow and franchises. She was the audit partner responsible for over 20 certified audits and represented two of the largest not-for-profits in the State of Arizona. Theresa has worked with public and private clients.  She has assisted and worked on offering memorandums, 10K’s and 10Q’s.  Her clientele is national and world-wide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===================== end About ========================== -->

<section class="row p-0 pb-5 pt-5" >
  <div class="col-12 col-md-12 bg-quote font-style-quote">
    <div class="col-12 col-md-10 col-lg-10 mt-5 mb-5 mx-auto text-center">
      <h2><b>Concierge Consulting and Accounting, PLLC</b></h2>
      <h4><b>We are built on competence but focused on you.</b></h4>

      <!-- <p>we are built on competence but focused on you</p> -->
    </div>
  </div>
</section>

<!-- ===================== welcome do ========================== -->

<section>
  <div id="welcome" class="home-section bg-white pt-5">
    <div class="container">
      <div>
        <div class="col-md-12 text-center mb-4">
          <div class="section-heading pb-3">
            <h2 class="gold-font font-weight-bold">Civic Business Activities</h2>
            <div class="section-line"></div>
            <p class="black-font">We promise you the highest quality service that you deserve.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 about-img">
          <%= image_tag 'one.jpg' %>
        </div>
        <div class="col-12 col-md-6 content">
          <h2>Theresa is a member of the following professional organizations:</h2>
          <ul style="color: #777;">
            <li>American Institute of Certified Public Accountants</li>
            <li>Arizona Society of Certified Public Accountants</li>
            <li>Accounting and Finance Women’s’ Alliance</li>
            <li>Treasurer of the Scottsdale Alliance Network Group. </li>
          </ul>
          <h2>She is involved in the following ministries:</h2>
          <ul style="color: #777;">
            <li>Edge Middle School core leader </li>
            <li>Young Disciples leader</li>
            <li>Altar Server coordinator and trainer</li>
            <li>Eucharistic Minister</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===================== welcome end ========================== -->



<!-- Services -->
<!-- <section class="services row bg-white mt-5" id="services">
  <div class="container">
    <div class="card">
      <h2 class="text-center"><b>Menu of Services</b></h2>
      <div class="section-line"></div>
      <p class="black-font text-center mb-5">We promise you the highest quality service that you deserve.</p>
      <div class="row">
        <div class="service-col col-lg-4 col-12">
          <div class="card card-block text-center">
            <div class="mb-4">
              <%#= image_tag 'calculator.png' %>
            </div>
          </div>
        </div>

        <div class="service-col col-lg-4 col-12">
          <div class="card card-block text-center">
            <div class="mb-4">
              <%#= image_tag 'advice.png' %>
            </div>
          </div>
        </div>

        <div class="service-col col-lg-4 col-12">
          <div class="card card-block text-center">
            <div>
             <div class="mb-4">
              <%#= image_tag 'analysis.png' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->

<!-- ======================== Service do =========================== -->

<section id="services">
  <div id="welcome" class="home-section pt-5 pb-5">
    <div class="container">
      <div>
        <div class="col-md-12 text-center mb-4">
          <div class="section-heading pb-3">
            <h2 class="gold-font font-weight-bold">Menu of Services</h2>
            <div class="section-line"></div>
            <h3>We have a full menu of services that are grounded in three core principles:</h3>
            <h5>experience <span class="dot-gold"> </span> expertise <span class="dot-gold"> </span> excellence</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 content">
          <ul style="color: #777;">
            <li>Complete outsourced CFO, CEO and COO services</li>
            <li>Accounting on a weekly, monthly or quarterly schedule</li>
            <li>Bookkeeping</li>
            <li>Taxes – Individuals, businesses, estates, trusts and non-profits</li>
            <li>Tax planning</li>
            <li>RS audit representation</li>
            <li>QuickBooks and Peachtree training and education</li>
          </ul>
        </div>
        <div class="col-12 col-md-6 content">
          <ul style="color: #777;">
            <li>Internal controls awareness, design and implementation</li>
            <li>Fraud awareness </li>
            <li>Creation of policies and procedures</li>
            <li>Public Speaking</li>
            <li>Financial education</li>
            <li>Audit preparation</li>
            <li>Personalized consulting for all facets of your business</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======================== end Service =========================== -->

<section>
  <div id="welcome" class="home-section pt-5">
    <div class="container">
      <div>
        <div class="col-md-12 text-center mb-4">
          <div class="section-heading pb-3">
            <!-- <h2 class="gold-font font-weight-bold">The Pillars of our business</h2> -->
            <h3 class="gold-font font-weight-bold">The Pillars of our business</h3>
            <div class="section-line"></div>
            <h5>We approach our consulting and accounting engagements like an upside-down triangle.  We don’t just focus on your bottom line.  We work with you dissecting all components and aspects of your business to help you achieve your maximum goals.  We focus on the following pillars:</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 about-img d-flex align-items-center">
          <%= image_tag 'deal.jpg' %>
        </div>
        <div class="col-12 col-md-6 content font-business d-flex align-items-center">
          <ol style="color: #777; font-size: 18px;">
            <li>Passion</li>
            <li>Professionalism</li>
            <li>Personalization</li>
            <li>People</li>
            <li>Product</li>
            <li>Processes</li>
            <li>Policies and procedures</li>
            <li>Performance measures</li>
            <li>Profit</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======================== Service do =========================== -->

<section id="team" class="service-section">
  <div id="welcome" class="home-section py-5">
    <div class="container">
      <div>
        <div class="col-md-12 text-center mb-4">
          <div class="section-heading pb-3">
            <h2 class="gold-font font-weight-bold">Network of Professional</h2>
            <div class="section-line"></div>
            <h5>At Concierge Consulting and Accounting, PLLC we operate in a team environment. We have an amazing network of professionals at our disposal. We have a powerful team to help serve all facets of your business:</h5>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around mx-auto" style="font-size: 17px;">
        <div class="row">
          <div class="col-12 col-md-4 content">
            <ul style="color: #777; ">
              <li>CPAS</li>
              <li>Accountants</li>
              <li>Bookkeepers</li>
              <li>Tax attorneys</li>
              <li>Attorneys</li>
            </ul>
          </div>
          <div class="col-12 col-md-4 content">
            <ul style="color: #777;">
              <li>Financial advisers</li>
              <li>Wealth advisors</li>
              <li>Payroll companies</li>
              <li>Bankers</li>
              <li>Mortgage bankers and brokers</li>
            </ul>
          </div>
          <div class="col-12 col-md-4 content">
            <ul style="color: #777;">
              <li>Commercial Realtors</li>
              <li>Residential Realtors</li>
              <li>Insurance agents</li>
              <li>Healthcare brokers</li>
              <li>Many more</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

              <!-- ======================== Service end =========================== -->