<div class="container">
  <div class="mt-3 mb-5 d-flex justify-content-between align-items-center">
    <%= link_to'Home', blogs_index_path, class:"text-dark"  %>
    <%= image_tag 'concierge-logo.png', class: "w-25 h-25" %>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto pb-5 content-blog">
        <% @posts.each do |post| %>
        <div class="posting mb-3">
          <h3><%= link_to post.title, post, class: "font-weight-bold" %></h3>
          <hr>
          <div class="d-flex align-items-center">
            <img class="w-25 h-25 col-6" src="<%= post.image %>" alt="img-blog">
            <%= truncate post.text.html_safe, length:300, escape: false, class:"col-6" %>
          </div>
          <p class="text-right">
            <%= link_to 'Read More', post, class: "text-dark text-right" %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
